<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.geo.tcc"
        versionCode="10" 
        version   = "0.1">

		<!-- versionCode is optional and Android only -->

		<name>Geo</name>
		
		<icon src="icon.png" />
		
		<description>
			Aplicação desenvolvida pro Rafael Sant'Ana para a conclusão do curso de Ciência da Computação do UNIVEM.

			Projeto - Aplicação Geoprocessada de Mapeamento de Postes para Apoio de Telecomunicações
			Aluno - Rafael Sant'Ana
			Orientadora - Giuliana Marques 
			Ano - 2012
		</description>

		<author href="http://www.rafaelsantana.blog.com" email="rafael1803@gmail.com">
			Rafael Sant'Ana 
		</author>
		
	</widget>
