html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

header{
	display: block;
	width:100%;
	height: 50%;
	line-height: 40px;
	
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100000000000;
	
	background: rgba(0,0,0,0.4);
	text-align: center;
}
header button{
	display: inline-block;
	background : #eee;
	border: 1px solid #555;
	line-height: 30px;
}
#map_canvas { 
	height: 100%;
	width:100%;
}
